.main-wrapper {
  width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: row;
}

.info-panel {
  position: fixed;
  right: 1em;
  width: 25vw;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  text-align: center;
}

/* .team-rankings .selected path {
  transition: 0.2s;
  stroke-width: 15;
  z-index: 10000;
} */

.ticks {
  line-height: 30px;
  padding-top: 5px;
  margin-left: -50px;
  z-index: 10000;
}

.ticks p {
  margin: 0;
  transition: 0.3s;
}

.ticks p:hover {
  cursor: pointer;
  font-size: 25px;
}

.ticks p.selected {
  font-size: 25px;
}
